.container-fluid{
	width:100%;
	height:100%;
	margin: 0em;
	position: fixed;
	background-color: black; 
	display: inline-block;
	color: white;
	font-family: 'Righteous', cursive;
	border: 3px solid white;
	text-align: center;
	
}
h1{
	font-size: 5em;
}
#title{
	text-align:left;
}
#stats{
	text-align:right;
}

.game{
	padding: 50px 50px;		
	display: inline-block;
	margin: auto;
}
.tracker{
	margin: auto;
	display:inline-block;
}

#row0 {
	border-top: 3px solid white;	
}
#row2 {
	border-bottom: 3px solid yellow;	
}
#row5 {
	border-bottom: 3px solid yellow;	
}
#row8 {
	border-bottom: 3px solid white;	
}
#col0{
	border-left: 3px solid white;
}
#col2{
	border-right: 3px solid yellow;
}
#col5{
	border-right: 3px solid yellow;
}
#col8{
	border-right: 3px solid white;
}

input[type = number]{
	background-color:black;
	height: 1.5em;
	width: 1.5em;
	color: white;
	border: solid 1px black; 
	text-align: center;  

}

div .col{
	height:2em;
	border-right: 1px dotted white;
}

div .row{
	height:2em;
	border-bottom: 1px dotted white;
}









